/*-----------------------------------------------------------------------------------

	Retina support CSS

-----------------------------------------------------------------------------------*/

.demo-video{
    background:url("../img/play-symbol@2x.png") no-repeat center center;
    background-size:120px 120px;
}
.demo-video:hover{
    background:url("../img/play-symbol-hvr@2x.png") no-repeat center center;
    background-size:120px 120px;
}
.compat-details{
	background: url("../img/compat-logos@2x.png") no-repeat top right;
	background-size:45px 21px;
}
@media (max-width: 500px)
{
 .demo-video,.demo-video:hover{
    background-size:80px 80px;
 }   
} 
