/* table of contents */
/* 
  base rules

*/

/* colors
pale blue to creamy navy
#effbf9, #bdd8d9, #8cb5bd, #5e92a5, #31708f
deep turquois to navy
#009688, #00838b, #006f86, #085a7a, #274667
deep turquois to pale blue
#009688, #5bafa3, #8fc8bf, #bfe2dc, #effbf9
creamy nacy to deep turquois
#31708f, #157a94, #008494, #008d90, #009688
mid to creamy navy
#bdd8d9, #98bec4, #75a4b1, #538aa0, #31708f
*/

/* z-index */

.nav-sm {
	z-index: 2;
}

/* base rules */
a,
a:hover {
	color: inherit;
	text-decoration: inherit;
}


/* grid rules */

.row {
	margin-top: 0;
	margin-bottom: 0;
	max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.row> [class^="col-"],
.row> [class*=" col-"] {
	margin-top: 0;
	margin-bottom: 0;
	max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

/* positioning rules */

.centerfp {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
	align-items: center;
	align-content: center;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-flow: wrap;
}

.centerfp p,h1, h2, h3, h4, h5, h6{
	text-align: center;
	flex-basis: 100%;
	margin: 0;
	line-height: 1.7em;
}

.container {
	padding-top: 30px;
	padding-bottom: 50px;
}


/* repeated elements */

.logo {
	height: 30px;
	width: auto;
}

.section-head {
	padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.section-head p {
	text-align: center;
}

.pbindex .card {
	padding: 10px;
	max-width: 480px;
	align-items: center;
	align-content: center;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-flow: wrap;
}

.pbindex .card-img-top {
	padding: 20px;
}

.pbindex .card-body {
	max-width: 480px;

}

.pbindex .card-title,
.pbindex .card-text {
	padding: 10px 20px 10px 20px;

}

.pbindex .card-body a {
	display: flex;
	justify-content: center;
	padding: : 20px;
	margin: 10px 10px 30px 10px;
}

.nav-tabs > li, .nav-pills > li {
	float:none;
	display:inline-block;
	margin: 5px;
	*display:inline; /* ie7 fix */
	zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align:center;
  margin: 10px;
}

.pbcolor > li.active > a, 
.pbcolor > li.active > a:hover,
.pbcolor > li.active > a:focus {
  color:#effbf9;
  background-color: #8cb5bd;
}

.pbcolor > li > a:hover {
	color:#effbf9;
  background-color: #5e92a5;
}

.pbcolor a {
  color: #effbf9;
  background-color: #31708f;
}

.tab-pane {
	padding: 30px;
	min-height: 300px;
  background-color: rgb(250, 250, 250, 0.2)
}

.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border: none;
}

.panel-group {
	padding-bottom: 30px;
  background-color: rgb(250, 250, 250, 0.1);
  border-radius: 5px;
}

.panel-body {
	padding: 10px;
	min-height: 200px;
	max-width: 600px;
  display: flex;
  margin: auto;
  flex-flow: wrap;
  background-color: rgb(250, 250, 250, 0.2);
}

button {
	margin: 10px;
}

ul {
	list-style-type: none;
  padding-left: 0;
}

/* nav bar */

.nav-sm {
	right: 10px; 
  top: 10px;
	float: right;
  position: fixed;
  display: block;
}

.ddbtn {
	background-color: rgb(0, 111, 134, 0.7);
  box-shadow: 3px 3px #009688;
  border-radius: 5px;
  border: none;
  cursor:pointer;
  overflow: hidden;

}

.ddbtn i {
		font-size: 30px;
		color: #effbf9; 
}

.nav-sm:hover .ddmenu {
    display: block;
}

.ddmenu {
  background-color: rgb(0, 111, 134);
	box-shadow: 3px 3px #009688;
  border-radius: 5px;
	display: none;
	position: absolute;
	right: 0;
}

.ddmenu a {
	padding: 10px 20px;
	display: block;
	white-space: nowrap;
	color: #effbf9;
}

.ddmenu a:hover {
	background-color: rgb(108,183,173,0.7);
	text-decoration: none;
}



/* landing page */

.lp {
	background-image: linear-gradient(to right bottom, #009688, #00838b, #006f86, #085a7a, #274667);
	height: 100vh;
	color: #effbf9;
}


/* intro */

.intro {
	background-color: #E6F4F1;
	color: #31708f;
}


.intro > .pbcolor > .card > a {
	color:#effbf9;
  background-color: #5e92a5;
}



/* platform features */

.pf {
	background-color: #bdd8d9;
}



/* quick start guide */

.qsg ul{
	padding: 30px 30px;
}

.qsg {
	background-color: #98bec4;
	padding: 30px 10px 30px 10px;
}

.qsg a {
	text-decoration: none;
}


/* faq */

.faq {
	background-color: #75a4b1;
	color: #effbf9;
}


/* community */

.community {
	background-color: #538aa0;
	text-align: center;
	color: #effbf9;
}

.community ul {
	display: inline;
}

.community .social-networks {
	font-size: 100px;
}




/* footer */

footer {
	background-color: #31708f;
	text-align: center;
	color: #effbf9;
}

footer div {
	padding: 20px;
}


.imgmax {
	max-width: 100px;
	max-height: auto;
	margin: auto;
}


.social-networks {
	font-size: 20px;
}


/* leaderboard */

.leaderboard {
	.margin: auto;
}




