/* table of contents */
/* 
  base rules
  layout rules
  modules rules
  state rules
  theme rules
*/

/* colors
pale blue to creamy navy
#effbf9, #bdd8d9, #8cb5bd, #5e92a5, #31708f
deep turquois to navy
#009688, #00838b, #006f86, #085a7a, #274667
deep turquois to pale blue
#009688, #5bafa3, #8fc8bf, #bfe2dc, #effbf9
*/

/* z-index */

.nav {
	z-index: 2;
}

/* base rules */
body {
	color: white;
}

p {
	text-align: left;
	margin: 0;
}

/* layout rules */

.row {
	margin: 10px 0px 10px 0px;
}

.row.full-bleed{
	margin-top: 0;
	margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}
.row.full-bleed > [class^="col-"],
.row.full-bleed> [class*=" col-"] {
	margin-top: 0;
	margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

.row.full-width{
  margin-right: 0;
  margin-left: 0;
}
.row.full-width > [class^="col-"],
.row.full-width> [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.section-head {
	padding: 10px 10px 10px 10px;
}

.centerv {
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.qsg ul{
	padding: 30px 30px;
}

.community ul {
	display: inline;
}


/* style */

.lp {
	background-image: linear-gradient(to right top, #009688, #00838b, #006f86, #085a7a, #274667);
	height: 100vh;
}

.pf {
	background-image: linear-gradient(to right top, #009688, #00838b, #006f86, #085a7a, #274667);
}

.intro {
	background-color: #effbf9;
	padding: 10px 10px;
	margin: 10px 0px;
}

.logo {
	height: 30px;
	width: auto;
}

.section-head p {
	color: #274667;
}

footer {
	background-color: #274667;
	padding: 10px 10px;
}

footer i {
	font-size: 30px;
}

.card {
	color: black;
}

.card-img-top {
	padding: 10px 10px 10px 10px;
}

.card-body a {
	display: flex;
	justify-content: center;
	margin: 10px 15%;
}



.nav {
	right: 25px; 
  top: 25px;
	float: right;
  position: fixed;
  display: inline-block;
}

.nav:hover .ddmenu {
    display: block;
}


.ddbtn {
  background-color: #274667;
  padding: 10px 10px 10px 10px;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  border-radius: 5px;
}

.ddbtn i {
	color: white;
}

.ddmenu {
	display: none;
	position: absolute;
	background-color: #085a7a;
	right: 0;
}

.ddmenu a {
	padding: 10px 20px;
	display: block;
	white-space: nowrap;
	color: #effbf9;
}

.ddmenu a:hover {
	background-color: #5bafa3;
	text-decoration: none;
}
