/* table of contents */

/* 
  positioning
  alignment
  repeated elements
  animations
  -page sections in order listed in html-
*/

/* colors
PRIMARY: #103558; rgb (16, 53, 88)
SECONDARY: #017ea7; rgb (1, 126, 167)

pale blue to creamy navy
#effbf9, #bdd8d9, #8cb5bd, #5e92a5, #31708f
deep turquois to navy
#009688, #00838b, #006f86, #085a7a, #274667
deep turquois to pale blue
#009688, #5bafa3, #8fc8bf, #bfe2dc, #effbf9
creamy navy to deep turquois
#31708f, #157a94, #008494, #008d90, #009688
mid to creamy navy
#bdd8d9, #98bec4, #75a4b1, #538aa0, #31708f
*/

/* custom fonts */

@font-face {
  font-family: "Arcon";
  src: url("fonts/Arcon-Regular.otf");
}

/* positioning */
.centervh .row> [class^="col-"],
.centervh .row> [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centervh {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerv {
  display: flex;
  align-items: center;
}

.centerh {
  display: flex;
  justify-content: center;
}

.marv {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* alignment */
.ac {
  margin-right: auto;
  margin-left: auto;
}

.ar {
  margin-right: 0px;
  margin-left: auto;
}

.al {
  margin-right: auto;
  margin-left: 0px;
}


/* repeated elements */
body {
  font-family: 'Muli', sans-serif;
  color:#103558;
}



a,
a:hover {
  color: inherit;
  text-decoration: inherit;
}

.ahover h5:hover, 
.ahover i:hover {
  color: #ffb400;
}

.bchover h5:hover,
.bchover i:hover {
  color: #0095fa;
}

.logo {
  height: 1.5em;
  width: auto;
}

.logo-whole {
  height: 7vw;
  width: auto;
}

.logo-parts {
  width: 5vw;
  height: auto;

}

.logo-parts-m {
  width: 7vw;
  height: auto;
}

.logo-parts-lil {
  width: 5vw;
  height: auto;
}

.btn {
  margin: 5px;
}

.card {
  margin: 5px auto;
}

.pb-btn {

  border-radius: 1000px;
  background-color: #107ea7;
  border-color: transparent;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-text-align: center;
  text-align: center;
}

.pb-div {
    border: 0;
    height: 2px;
    background-color: #FFB400;
    margin-top: 3vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* animation */
.floating {
  animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }    
}

.pb-colorchange {
  background-color: #103558;
  -webkit-animation-name: pb-colorchange; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: pb-colorchange;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pb-colorchange {
    0%   {background-color: #103558;}
    50%  {background-color: #017ea7;}
}
@keyframes pb-colorchange {
    0%   {background-color: #103558;}
    50%  {background-color: #017ea7;}
}

footer .pb-colorchange {
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-duration: 4s;
}


.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/*** page sections in order ***/
/* top sticky */
.top-sticky {
  z-index: 2002;
  height: 5vh;
  width: 100%;
  overflow: hidden;
  background-color: #103558;
}

.top-sticky a {
  color: white;
  text-align: center;
}

.top-sticky h5 {
  margin-bottom: 5px;
}


/* navbar */
.pb-navtop {
  top: 5vh;
  height: 7vh;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2000;
}

.pb-navbtn {
  height: 2em;
  width: 2em;
}


#pb-navbtn {
  width: 2em;
  height: 2em;
  position: relative;
  margin: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#pb-navbtn span{
  position: absolute;
  height: 5px;
  width: 2em;
  background: #017ea7;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#pb-navbtn span:nth-child(1) {
  top: 3px;
}

#pb-navbtn span:nth-child(2) {
  top: 12px;
}

#pb-navbtn span:nth-child(3) {
  top: 21px;
}

#pb-navbtn.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#pb-navbtn.open span:nth-child(2) {
  opacity: 0;

}

#pb-navbtn.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.pb-nav {
  position: absolute;
  top: 5vh;
  right: 0;
  width: 100%;
  background-color: white;
  height: 95vh;
  overflow: hidden;
  }

.pb-navlist {
  height: 88vh;
  background-color: white;
  margin: 0px 30px;
}

.pb-navlink {
  position: relative;
  display: block;
  height: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.pb-navdiv {
    border: 0;
    height: 1vh;
    background: white;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 90%;
}

.pb-navsn {
  position: relative;
  display: inline-block;
  padding: 1vh;
}

.pb-navsn i {
  font-size: 4vh;
}

/* landing page section*/
.top-logo {
  margin-top: 5vh;
  z-index: 2001;
  height: 7vh;
}

.top-logo-bg{
  background-color: transparent;
}


.toplogo {
  margin-top: auto;
  margin-bottom: auto;
}

.toplogo img {
  height: 2em;
  width: auto;
}

.video-box {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.video-ul {
  position: absolute;
  width:100vw;
  height: 95vh;
  overflow: hidden;

}

.bg-vid {
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  opacity: .25;

}

.lp-bg {
    background-color: #103558;
    margin-top: -7vh;
}


.tagline {
  color: white;
}

.landingpage {
  height: 95vh;
}

.landinapge div {
    opacity: 1.0!important;
}

.rdl-btn {
  background-color: #ffb400;
  color: white;
}



.intro {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro p {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}


/* video */

.video-box {
  height: 100vh;
}

.video {
  max-width: 750px;
  height: auto;
}


video {
  pointer-events: none;
}


/* core section */


.core-phil,
.core-innov {
  min-height: 50%;
}

/* features section */



/* guide section */

.guide {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #103558;
  border-radius: 20px;
}

.guide .card {
  width: 90%;
}

.guide-btn {
  border:none; 
  background-color: inherit;
}


/* community section */

.comm {
  height: 75vh;

}

.community {
  width: 80vw;
}

.comm-icon i {
  font-size: 7vw;
}
/* footer */

footer {
  text-align: center;
  color: white;
  background-color: #103558;
  min-height: 25vh;
}

footer .container-fluid {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.e-btn {
  background-color: white;
}

.e-box {
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
}

.e-box .modal-content {
  border: none;
}

.e-box .modal-body {
  background-image: linear-gradient(to right top, #103558, #017ea7);
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.e-list-content {
  color: white;
  height: 30vh;
}

.e-close-btn {
  margin-right:10vw;
  margin-top: 10vh;
}

.aweber-form {
  display: block;
  margin-top: 35vh;
}

.email-form{
  color: #103558;
  border-radius: 10px;
  width: 30vw;
  min-width: 200px;
  padding-left: 10px;
  border: white solid;
}

.email-btn {
  color: white;
  padding: 5px 15px;
  background-color: #103558;
}


/* download page */


.dl-top {
  color: white;
  margin-bottom: 5px!important;
}

.dl-top a {
  text-decoration: underline;
}

.dl-btns-dt a {
  margin: 5px;
  padding: 5px 15px;

  background: #ffb400;
}

.dl-btns-m a {
  margin: 5px;
  padding: 5px 10px;
  background: #017ea7;
  background-size: 120% 120%;
  color: white;
}

.dl-hint {
  display: inline;
}

.dl-hint a {
  text-decoration: underline;
}

/* ticker */

/* leaderboard */
.lbpage img {
  max-height: 10vh;
  width: auto;
}



/* vote */

.vote-box {
  height: 2000px;
  overflow:visible;
      padding-right: 0px;
    padding-left: 0px;
}

.vote-embed {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.vote-text {
  max-width: 750px;
}

/* coins */

.coins-dl{
  text-decoration: underline;
} 

.coins-dir h4 {
  margin-top: 7px;
}

.coins-dir ol {
    counter-reset:li; /* Initiate a counter */
    padding-left: 0.5em;
}

.coins-dir ol > li {
  position:relative; /* Create a positioning context */
  margin:10px 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
  padding:4px 8px; /* Add some spacing around the content */
  list-style:none; /* Disable the normal item numbering */
  border-top:1.5px solid #ffb400;
}

.coins-dir ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top: 10px;
    left:-2.5em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:30px;
    padding:4px;
    color:white;
    background:#103558;
    font-weight:bold;
    text-align:center;
    border-radius:30px;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}


.coins-tweet {
  color: #107ea7;
}


.ticker {
  font-size: 0.8em;
}

.badge {
  left: 10px;
}

#theName {
      margin-left: auto;
    margin-right: auto;
}

#theName p {
  margin-bottom: 0px!important;
}

.intro-4 {
  max-width: 200px;
      margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.fas {
  font-size: 2em;
}

.tweet-btn {
  background-color: #107ea7;
  color: white;
}

.coins-dir .rdl-btn {
  background-color: #107ea7;
}



