/* table of contents */

/* 
  positioning
  alignment
  repeated elements
  animations
  -page sections in order listed in html-
*/

/* colors
PRIMARY: #103558; rgb (16, 53, 88)
SECONDARY: #017ea7; rgb (1, 126, 167)

pale blue to creamy navy
#effbf9, #bdd8d9, #8cb5bd, #5e92a5, #31708f
deep turquois to navy
#009688, #00838b, #006f86, #085a7a, #274667
deep turquois to pale blue
#009688, #5bafa3, #8fc8bf, #bfe2dc, #effbf9
creamy navy to deep turquois
#31708f, #157a94, #008494, #008d90, #009688
mid to creamy navy
#bdd8d9, #98bec4, #75a4b1, #538aa0, #31708f
*/

/* positioning */
.centervh .row> [class^="col-"],
.centervh .row> [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centervh {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerv {
  display: flex;
  align-items: center;
}

.centerh {
  display: flex;
  justify-content: center;
}

.marv {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* alignment */
.ac {
  margin-right: auto;
  margin-left: auto;
}

.ar {
  margin-right: 0px;
  margin-left: auto;
}

.al {
  margin-right: auto;
  margin-left: 0px;
}


/* repeated elements */
a,
a:hover {
  color: inherit;
  text-decoration: inherit;
}

.logo {
  height: 1.5em;
  width: auto;
}

.logo-whole {
  height: 7vw;
  width: auto;
}

.logo-parts {
  width: 5vw;
  height: auto;

}

.logo-parts-m {
  width: 7vw;
  height: auto;
}

.logo-parts-lil {
  width: 5vw;
  height: auto;
}

.btn {
  margin: 10px 10px 10px auto;
}


/* animation */
.floating {
  animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }    
}


/*** page sections in order ***/
/* top sticky */
.top-sticky {
  position: fixed;width: 100%
  left: 0;
  top: 0;
  height: 2em;
  z-index: 100;
  width: 100%;
  -webkit-box-shadow: 0 5px 10px rgba(16, 53, 88, 0.35);
  box-shadow: 0 5px 10px rgba(16, 53, 88, 0.35);
  overflow: hidden;
  background-color: #103558;
}

.top-sticky a {
  z-index: 999;
  color: white;
}

/* navbar */

.bg-custom {
  background-color: white;
}

a.nav-link {
  text-align: right;
  margin-right: 10px;
}

.dropdown-menu {
  margin-right: 10px;
  background-color: white;
  border: none;
}

.navbar-toggler {
  background-color: white;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active, 
.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link {
  background-color: transparent;
  border: 0px;
}

.nav-tabs .nav-item.show .nav-link img,
.nav-tabs .nav-link.active img, 
.nav-tabs .nav-link.active img, 
.nav-tabs .nav-item.show .nav-link img{
  width: 10vw;
  height: auto;
}

.nav-tabs {
  border-bottom: 0px;
}


/* landing page section*/
.landingpage {
  background-color: white;
  display:flex;
  height: 100vh;
  flex-direction: column; 
  justify-content: center;
}

.landingpage .row{
  display: flex;
  height: inherit;
}

.landingpage .row> [class^="col-"],
.landingpage .row> [class*=" col-"]{
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  justify-content: space-between;
}

.aweber-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.email-form {
  width: 350px;
  max-width: 80vw;
  margin: 5px;
  padding: 5px;
  border: 3px solid #103558;
  border-radius: 1000px;
  font-size: 1em;
  background-color: #103558;
}

.email-form::placeholder {
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-text-align: center;
  text-align: center;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  color: white;
}

.email-button {
  width: 350px;
  max-width: 80vw;
  margin: 10px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 1000px;
  box-shadow: 0 1px 2px rgba(16, 53, 88, 0.25);
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-text-align: center;
  text-align: center;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  color: #103558;
  background-color: white;
}

.cfaction {
  display: flex;
  flex-direction: column;
}

/* core section */
.core {
  background-color: #bdd8d9;
  padding: 15px;
}


.platform {
  background-color: #8cb5bd;
  padding: 15px;  
}


/* community section */
.community {
  height: 50vh;
  margin: 30px;
}


.social-networks {
  display: inline-flex;
  font-size: 20px;
}


/* footer */
footer {
  background-color: #31708f;
  text-align: center;
  color: #effbf9;
}

footer div {
  padding: 20px;
}

