/* table of contents */

/* 
  positioning
  alignment
  repeated elements
  animations
  -page sections in order listed in html-
*/

/* colors
PRIMARY: #103558; rgb (16, 53, 88)
SECONDARY: #017ea7; rgb (1, 126, 167)

pale blue to creamy navy
#effbf9, #bdd8d9, #8cb5bd, #5e92a5, #31708f
deep turquois to navy
#009688, #00838b, #006f86, #085a7a, #274667
deep turquois to pale blue
#009688, #5bafa3, #8fc8bf, #bfe2dc, #effbf9
creamy navy to deep turquois
#31708f, #157a94, #008494, #008d90, #009688
mid to creamy navy
#bdd8d9, #98bec4, #75a4b1, #538aa0, #31708f
*/

/* custom fonts */
@font-face {
  font-family: "Arcon";
  src: url("fonts/Arcon-Regular.otf");
}

/* positioning */
.centervh .row> [class^="col-"],
.centervh .row> [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centervh {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerv {
  display: flex;
  align-items: center;
}

.centerh {
  display: flex;
  justify-content: center;
}

.marv {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* alignment */
.ac {
  margin-right: auto;
  margin-left: auto;
}

.ar {
  margin-right: 0px;
  margin-left: auto;
}

.al {
  margin-right: auto;
  margin-left: 0px;
}


/* repeated elements *******************************************************************************/
body {
  font-family: 'Muli', sans-serif;
  color:#103558;
}

a,
a:hover {
  color: inherit;
  text-decoration: inherit;
}

ul {
  margin: 0px!important;
  padding: 0px!important;
}

.pb-button {
  background-color: transparent;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-style: solid;
  border-width: 3px;
}

.sm-icon i {
  background-color: rgb(255,255,255,0.75);
  height: 2em;
  width: 2em;
  color: #103558;
  border-radius: 1em;
  font-size: 1em;
  padding-top: .5em;
}

.sm-icon i:hover {
  background-color: rgb(255,255,255);
}


.sm-icon-lg i {
  background-color: rgb(255,255,255,0.25);
  height: 2em;
  width: 2em;
  color: white;
  border-radius: 1em;
  font-size: 2.5em;
  padding-top: .5em;
}

.sm-icon-lg i:hover {
  background-color: transparent;
}

.sm-icon-dark i {
  background-color: rgb(16, 53, 88, 0.5);
  height: 2em;
  width: 2em;
  color: white;
  border-radius: 1em;
  font-size: 1em;
  padding-top: .5em;
}

.sm-icon-dark i:hover {
  background-color: rgb(16, 53, 88);
}

/* social media buttons */
.navbar .list-inline-item {
  margin-right: 0;
}

footer .list-inline-item {
  margin-right: 0!important;
}

.ahover h5:hover, 
.ahover i:hover {
  color: #ffb400;
}

.bchover h5:hover,
.bchover i:hover {
  color: #0095fa;
}

.logo {
  height: 1.5em;
  width: auto;
}

.logo-whole {
  height: 7vw;
  width: auto;
}

.logo-parts {
  width: 5vw;
  height: auto;

}

.logo-parts-m {
  width: 7vw;
  height: auto;
}

.logo-parts-lil {
  width: 5vw;
  height: auto;
}

.btn {
  margin: 5px;
}

.card {
  margin: 5px auto;
}

.pb-btn {

  border-radius: 1000px;
  background-color: #107ea7;
  border-color: transparent;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-text-align: center;
  text-align: center;
}

.pb-div {
    border: 0;
    height: 2px;
    background-color: #FFB400;
    margin-top: 3vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* animation */
.floating {
  animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }    
}

.pb-colorchange {
  background-color: #103558;
  -webkit-animation-name: pb-colorchange; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: pb-colorchange;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pb-colorchange {
    0%   {background-color: #103558;}
    50%  {background-color: #017ea7;}
}
@keyframes pb-colorchange {
    0%   {background-color: #103558;}
    50%  {background-color: #017ea7;}
}

footer .pb-colorchange {
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-duration: 4s;
}


.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/*** page sections in order *******************************************************************************/

/*

  bootstrap 4 navbar 

*/

.toplogoimg {
  margin-top: .5em;
  margin-bottom: .5em;
  height: 1.75em;
  vertical-align: center !important;
  content:  url("../images/logo-whiteflat-500.png");
}

/* change logo d/p screen size*/
@media (max-width: 575px) {
  .toplogoimg {
    content: url("../images/logo-whiteflat-500.png") !important;
  }
}

@media (min-width: 575px) {
  .toplogoimg {
    content: url("../images/logo-whitetext-500.png") !important;
  }
}

/* custom navbar color from https://work.smarchal.com/twbscolor/4.0.0/css/103558103558ffffffffffff1 */
.navbar {
  background-color: #103558;
  font-family: Muli, sans-serif;
  font-weight: 300;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-text a {
  color: #ffffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffffff; 
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #103558;
  border-color: #103558;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #103558;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #103558;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffffff;
  background-color: #103558;
}
.navbar .navbar-toggle {
  border-color: #103558;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #103558;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #103558;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #103558;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #103558;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #103558;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #103558;
}

/* toggler icon color */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: transparent;
} 

/* center toggle collapse menu */
@media (max-width: 991px){
  .navbar .navbar-nav .nav-item,
  .navbar .navbar-nav .dropdown-item{
    text-align: center;
  }
}



/* download button */
.navbar .pb-button {
  color: white;
  border-color: white;
}

/* landing page section*/
/*
.top-logo {
  margin-top: 5vh;
  z-index: 2001;
  height: 7vh;
}

.top-logo-bg{
  background-color: transparent;
}


.toplogo {
  margin-top: auto;
  margin-bottom: auto;
} */


.video-box {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.video-ul {
  position: absolute;
  width:100vw;
  height: 95vh;
  overflow: hidden;
}

.bg-vid {
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  opacity: .25;

}

.lp-bg {
    background-color: #103558;
}


.tagline {
  color: white;
}

.landingpage {
  height: 95vh;
}

.landinapge div {
    opacity: 1.0!important;
}

.rdl-btn {
  background-color: #ffb400;
  color: white;
}



.intro {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro p {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}


/* video */

.video-box {
  height: 100vh;
}

.video {
  max-width: 750px;
  height: auto;
}


video {
  pointer-events: none;
}


/* core section */


.core-phil,
.core-innov {
  min-height: 50%;
}

/* features section */



/* guide section */

.guide {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #103558;
  border-radius: 20px;
}

.guide .card {
  width: 90%;
}

.guide-btn {
  border:none; 
  background-color: inherit;
}


/* community section */

.comm {
  height: 75vh;

}


.comm-icon i {
  font-size: 7vw;
}

/* 

footer ************************************************

*/

footer {
  text-align: center;
  color: white;
  background-color: #103558;
  background-image: linear-gradient(to right top, #103558, #017ea7);
}

.email-text,
.email-form::placeholder {
  font-weight: 300;
}

.email-form::placeholder {
    opacity: .75;
}

.email-form {
  background-color: transparent;
  border: white solid 2px;
  width: 50vw;
  min-width: 300px;
  padding: 10px 5px;
}

.email-form::placeholder,
.aweber-form input[type=text] {
  color: white;
  text-align: center;
}

.email-btn {
  color: #103558;
  background-color: white;
  border: none;
  width: 50vw;
  min-width: 300px;
  padding: 10px 5px;
}


/* download page */


.dl-top {
  color: white;
  margin-bottom: 5px!important;
}

.dl-top a {
  text-decoration: underline;
}

.dl-btns-dt a {
  margin: 5px;
  padding: 5px 15px;

  background: #ffb400;
}

.dl-btns-m a {
  margin: 5px;
  padding: 5px 10px;
  background: #017ea7;
  background-size: 120% 120%;
  color: white;
}

.dl-hint {
  display: inline;
}

.dl-hint a {
  text-decoration: underline;
}

/* ticker */

/* leaderboard */
.lbpage img {
  max-height: 10vh;
  width: auto;
}



/* vote */

.vote-box {
  height: 2000px;
  overflow:visible;
      padding-right: 0px;
    padding-left: 0px;
}

.vote-embed {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.vote-text {
  max-width: 750px;
}

/* coins */

.coins-dl{
  text-decoration: underline;
} 

.coins-dir h4 {
  margin-top: 7px;
}

.coins-dir ol {
    counter-reset:li; /* Initiate a counter */
    padding-left: 0.5em;
}

.coins-dir ol > li {
  position:relative; /* Create a positioning context */
  margin:10px 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
  padding:4px 8px; /* Add some spacing around the content */
  list-style:none; /* Disable the normal item numbering */
  border-top:1.5px solid #ffb400;
}

.coins-dir ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top: 10px;
    left:-2.5em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:30px;
    padding:4px;
    color:white;
    background:#103558;
    font-weight:bold;
    text-align:center;
    border-radius:30px;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}


.coins-tweet {
  color: #107ea7;
}


.ticker {
  font-size: 0.8em;
}

.badge {
  left: 10px;
}

#theName {
      margin-left: auto;
    margin-right: auto;
}

#theName p {
  margin-bottom: 0px!important;
}

.intro-4 {
  max-width: 200px;
      margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}



.tweet-btn {
  background-color: #107ea7;
  color: white;
}

.coins-dir .rdl-btn {
  background-color: #107ea7;
}


/*

FAQ ************************************************

*/

.faq {
  max-width: 960px;
}

.faq-item {
  border-top: #103558 solid 2px;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.accordion ul li:last-child {
  border-bottom: #103558 solid 2px;
}

.faq-title p {
  padding-left: .5em;
  padding-right: .5em;
}

.faq-content p{
  padding-left: .5em;
  padding-right: .5em;
}


.faq-items li{
  list-style: none;
}

.faq-title {
  font-size: 1.25em;
}

.faq-title .fas {
  transition: .3s transform ease-in-out;
  color: #017ea7;
}
.faq-title .collapsed .fas {
  transform: rotate(90deg);
}









